
@{
    ViewBag.Title = "HacerCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/Login.css" rel="stylesheet" />
    <title>Comprando ando!</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comprando ando!</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form" action="@Url.Action("RealizarCompra","ProductoPrueba")" method="post">

                                <hr />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Id Producto</th>
                                            <th>Nombre Producto</th>
                                            <th>Cantidad Disponible</th>
                                            <th>Descripción Producto</th>
                                            <th>Cantidad a Comprar</th>
                                            <th>Comprar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.IdProducto</td>
                                                <td>@item.NombreProducto</td>
                                                <td>@item.CantidadDisponible</td>
                                                <td>@item.Descripcion</td>
                                                <td>
                                                    <input class="form-control" placeholder="Cantidad" name="CantidadComprar" type="number" value="">
                                                </td>
                                                <td>
                                                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Comprar">
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>

